@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #222;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: royalblue;
  padding: 15px 30px;
  border: none;
  font-family: Montserrat;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.svg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
