@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  font-weight: bold;
  background: #111;
  min-height: 200vh;
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 30px;
  background: #7983ff;
  z-index: 10000;
}


.random-text{
    padding: 2rem;
    color: #fff;
}

.random-text h1{
    font-size: 30px;
}

.random-text p{
    line-height: 30px;
}
